@{
    ViewBag.Title = "Trainer";
}

<main>
    <div class="container">
        <div class="row">

            <div class="col text-center mt-3 mb-3">
                <div class="row">
                    <div class="column column-left">
                        <div class="card mb-3">
                            <h1>Challenges</h1>
                        </div>
                        <div class="card mt-3">
                            <h1>Messages</h1>
                        </div>
                    </div>

                    <div class="column card column-right">
                        <h1>Your team</h1>
                        <div class="col">
                            <button class="btn btn-submit">Edit team</button>
                            <button class="btn btn-submit">Nurse Request</button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</main>